body {
  text-align: center;
  font-family: "Patua One", cursive;
}

.App-header {
  margin-top: 30px;
}

.App h1 {
  font-size: 60px;
  width: 300px;
  margin: 0 auto;
}

.App h2 {
  font-family: arial;
  font-size: 15px;
  width: 300px;
  margin: 0 auto;
  text-align: right;
}
